# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class
.ipynb_checkpoints/
*.ipynb

#python workspaces
*.res
.~*
#figures/
figures/*.*
trained_classifiers/*.*
#old code
py/
.idea
.directory

#results
*.txt
*.csv
*.docx
*.doc
*.odt

venv
config.ini
csv_files
bin
*.pcap
!pcap_files/example.pcap
