# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class
.ipynb_checkpoints/
*.ipynb

#python workspaces
*.res
.~*
#figures/
figures/*.*
reports/
trained_classifiers/*.*
#old code
py/
.idea
.directory

#results
*.txt
*.csv
*.docx
*.doc
*.odt
*.pdf

# config
*.yaml

venv
config.ini
csv_files
bin
*.pcap
!flow_parsing/static/example.pcap

# gpt_model artifacts
trial_txt_gpt2
trained_quantizers